body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
header {
  background-color: rgb(208, 212, 209);
}
footer {
  background-color: darkslategray;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  color: black;
}

.color:hover {
  color: rgb(155, 161, 158);
}

.header__basket-img {
  width: 25px;
  height: 25px;
}


.header__hamburger {
  display: none;
  background-color: transparent;
  border: none;
}

.home {
  background-image: url('./Utils/Images/home_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home__btn {
  width: 150px;
}

.list {
  list-style: none;
  overflow-x: auto;
}

.list-item+.list-item {
  margin-left: 30px;
}

.news {
 background-image: url('./Utils/Images/news_bg_img.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

.news-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news_img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 20px;
}

@media only screen and (max-width: 956px) {
  .header_inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__nav {
    display: none;
  }

  .header__hamburger {
    display: block;
  }

  .news-content {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 830px) {
  .home__inner {
    display: block;
    text-align: start;
  }

  .carousel {
    margin-left: auto;
    margin-right: auto;
  }
}


@media only screen and (max-width: 750px) {
  .header__content {
    display: none;
  }

  .header__hamburger {
    display: block;
  }

  .head__avatar {
    width: 50px;
    height: 50px;
  }

  .head__content-k {
    display: block;
  }

  .news_img {
    max-width: 400px;
    max-height: 400px;
  }

}

@media only screen and (max-width: 450px) {
  .head__title {
    font-size: 30px;
  }

  .head__text {
    font-size: 18px;
  }

  .head__avatar {
    width: 50px;
    height: 50px;
  }

  .head__button {
    padding: 2px;
  }

  .head__comment {
    font-size: 16px;
    display: block;
  }

  .carousel {
    max-width: 300px;
    max-height: 300px;
  }

  .carousel__img {
    max-width: 300px;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
  }

  .news_img {
    max-width: 300px;
    max-height: 300px;
  }
}